/*========== Base ==========*/
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  list-style: none;
}
html{
  width: 100%;
  height: 100vh;
  background-color:#808080	;
  background-size: cover;
  background-position: center;
 
}
body{
  margin-top: 4rem;
}

/*========== Header ==========*/
header{
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 35px 15%;
  background: transparent;
}
.logo {
  color: #fff;
  font-size: 29px;
  font-weight: 700;
}
.logo i{
vertical-align: middle;
color: #ffa323;
margin-right: 6px;
font-size: 40px;
}
.navbar {
  display: flex;
}
.navbar a {
  font-size: 16px;
  font-weight: 500;
  padding: 10px 20px;
  margin: 0 5px;
  color: #f5f5f5;
  transition: all .45s ease;
  border-radius: 5px;
}
.navbar a:hover {
  background: #ffa323;
}
#menu-icon{
  font-size: 30px;
  z-index: 10001;
  color: #fff;
  cursor: url('/assets/cursor.png'), auto;
  display: none;
}
.header-btn a{
  padding: 10px 20px;
  color: #fff;
  font-size: 15px;
  font-weight: 600;
}
.header-btn .in {
  background-color: #ffa323;
  border: 2px solid transparent;
  border-radius: 5px;
  transition: all .50s ease;
}
.header-btn .in:hover{
  border: 2px solid #ffa323;
  background: transparent;
}

@media (max-width: 1530px){
  header{
    padding: 18px 3%;
    transition: .2s;
  }
}

@media (max-width: 1070px){
header{
  padding: 12px 3%;
  transition: .2s;
}
#menu-icon{
  display: block;
}
.sign-up{
  display: none;
}
.navbar{
  position: absolute;
  top: -800px;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  background-color: #1b1b1b;
  transition: all .50s ease;
  text-align: left;
}
.navbar a{
  display: block;
  padding: 1rem;
  margin: 0.8rem;
}
.navbar.open{
  top: 100%;
}
}
/*========== Title in Routines ==========*/

title{
  display: flex;
  justify-content: center;
  color: #f5f5f5;
  font-size: xx-large;
}
/*========== Routine name click ==========*/
.routine-name {
  color: #333;
  text-decoration: none;
}

.routine-name:hover {
  cursor: url('/assets/cursor.png'), auto;
  color: #fff;
  cursor: pointer;
}